// =============================================
// Table
// =============================================

@mixin table {
    th, td {
        padding: spacing();
        vertical-align: top;
    }

    tbody td {
        border-top: 1px solid color(grey,light);
    }

    th {
        vertical-align: bottom;
    }

    caption {
        padding-top: spacing(sm);
        padding-bottom: spacing(sm);
        color: color(grey);
        text-align: left;
    }

    thead th {
        border-top: 0;
        border-bottom: 2px solid color(grey,light);
    }

    tfoot td {
        border-top-width: 2px;
    }
}


// =============================================
// Condensed Table
// =============================================

@mixin table--condensed {
    th,
    td {
        padding: spacing(xs);
    }
}


// =============================================
// Bordered Table
// =============================================

@mixin table--bordered {
    border: 1px solid color(grey,light);

    th,
    td {
        border: 1px solid color(grey,light);
    }

    thead th,
    thead td {
       border-bottom-width: 2px;
    }
}


// =============================================
// Striped Table
// =============================================

@mixin table--striped {
    tbody tr:nth-child(odd) {
        background-color: color(grey,lighter);
    }
}


// =============================================
// Stacked table
// =============================================

@mixin table--stacked {
    thead {
        display: none;
    }
    
    tbody tr {
        margin-bottom: spacing(lg);
        border: 1px solid color(grey);
    }
    
    tr {
        
        background-color: transparent !important;
        display: flex;
        flex-flow: wrap;

        > * {
            flex-grow: 1;
            flex-shrink: 0;
            //flex-basis: 10em;
            
            &.full-width {
                flex-basis: 100%;
            }
            
            &.half-width {
                flex-basis: 50%;
            }
            
            &.quarter-width {
                flex-basis: 25%;
            }
        }
    }

    table,
    th,
    td {
        display: block;
    }
}


// =============================================
// Table labelled
// =============================================

@mixin table--labelled {
    thead {
        display: none;
    }
    [data-label]:before {
        content: attr(data-label) ":";
        display: block;
        margin-right: 0.1em;
        font-family: $heading-font-family;
        font-size: $font-size-sm;
    }
}
